
/bin/
/Libs/
/.settings/
/.classpath
.svn/
Reports/
/Screenshots/
.project
.cache
/settings/
Include/

# system and IDE files
.DS_Store
Thumbs.db
.idea/
*.iml

# Ignore Katalon logs and temporary files
bin/
Libs/
.settings/
build/
bin/lib/
tmp/
logs/
.classpath
.project